<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>compared with 80% and 20% respectively at 31 D...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td></td>
      <td></td>
      <td>2018</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>RBS</td>
      <td>NWB Plc</td>
      <td>RBS plc</td>
      <td>UBI DAC</td>
      <td>NWM Plc</td>
      <td>RBS</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Capital adequacy ratios - transitional (1)</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>CET1</td>
      <td>16.2</td>
      <td>17.4</td>
      <td>13.2</td>
      <td>27.5</td>
      <td>15.6</td>
      <td>15.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Tier 1</td>
      <td>19.2</td>
      <td>20.4</td>
      <td>16.0</td>
      <td>27.5</td>
      <td>18.0</td>
      <td>19.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Total</td>
      <td>23.4</td>
      <td>24.5</td>
      <td>20.2</td>
      <td>30.4</td>
      <td>21.5</td>
      <td>23.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Capital adequacy ratios - end point</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>CET1</td>
      <td>16.2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>15.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Tier 1</td>
      <td>18.4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>17.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Total</td>
      <td>21.8</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>21.3</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Capital - transitional</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
    </tr>
  </tbody>
</table>