<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td>The table below reflects the key metrics templ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>has elected to take advantage of the transitio...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>however this would mitigate the impact on capi...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>50% and 25% in each of the first five years of...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>EBA</td>
      <td></td>
      <td>31 December</td>
      <td>30 September</td>
      <td>30 June</td>
      <td>31 March</td>
      <td>31 December</td>
    </tr>
    <tr>
      <th>5</th>
      <td>BCBS2</td>
      <td>IFRS</td>
      <td></td>
      <td>2018</td>
      <td>2018</td>
      <td>2018</td>
      <td>2018</td>
      <td>2017</td>
    </tr>
    <tr>
      <th>6</th>
      <td>KM1</td>
      <td>9-FL</td>
      <td>Capital</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>1</td>
      <td>Common equity tier 1 (CET1)</td>
      <td>30,639</td>
      <td>32,455</td>
      <td>31,950</td>
      <td>33,334</td>
      <td>31,957</td>
    </tr>
    <tr>
      <th>8</th>
      <td></td>
      <td>2</td>
      <td>Common equity tier 1 (CET1) capital as if IFRS 9</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td></td>
      <td></td>
      <td>transitional arrangements had not been applied</td>
      <td>30,639</td>
      <td>32,455</td>
      <td>31,950</td>
      <td>33,334</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>3</td>
      <td>Tier 1</td>
      <td>34,690</td>
      <td>36,506</td>
      <td>36,001</td>
      <td>37,375</td>
      <td>35,998</td>
    </tr>
    <tr>
      <th>11</th>
      <td></td>
      <td>4</td>
      <td>Tier 1 capital as if IFRS 9 transitional</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td></td>
      <td></td>
      <td>arrangements had not been applied</td>
      <td>34,690</td>
      <td>36,506</td>
      <td>36,001</td>
      <td>37,375</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>13</th>
      <td>3</td>
      <td>5</td>
      <td>Total capital</td>
      <td>41,173</td>
      <td>42,961</td>
      <td>42,660</td>
      <td>43,756</td>
      <td>42,763</td>
    </tr>
    <tr>
      <th>14</th>
      <td></td>
      <td>6</td>
      <td>Total capital as if IFRS 9 transitional</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>15</th>
      <td></td>
      <td></td>
      <td>arrangements had not been applied</td>
      <td>41,173</td>
      <td>42,961</td>
      <td>42,660</td>
      <td>43,756</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>16</th>
      <td></td>
      <td></td>
      <td>Risk-weighted assets (amounts)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>17</th>
      <td>4</td>
      <td>7</td>
      <td>Total risk-weighted assets (RWAs)</td>
      <td>188,691</td>
      <td>194,467</td>
      <td>198,780</td>
      <td>202,700</td>
      <td>200,923</td>
    </tr>
    <tr>
      <th>18</th>
      <td></td>
      <td>8</td>
      <td>Total risk-weighted assets as if IFRS 9</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>19</th>
      <td></td>
      <td></td>
      <td>transitional arrangements had not been applied</td>
      <td>188,691</td>
      <td>194,467</td>
      <td>198,780</td>
      <td>202,700</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>20</th>
      <td></td>
      <td></td>
      <td>Risk-based capital ratios as a percentage of RWA</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
    <tr>
      <th>21</th>
      <td>5</td>
      <td>9</td>
      <td>Common equity tier 1 ratio</td>
      <td>16.2</td>
      <td>16.7</td>
      <td>16.1</td>
      <td>16.4</td>
      <td>15.9</td>
    </tr>
    <tr>
      <th>22</th>
      <td></td>
      <td>10</td>
      <td>Common equity tier 1 ratio as if IFRS 9</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <td></td>
      <td></td>
      <td>transitional arrangements had not been applied</td>
      <td>16.2</td>
      <td>16.7</td>
      <td>16.1</td>
      <td>16.4</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>24</th>
      <td>6</td>
      <td>11</td>
      <td>Tier 1 ratio</td>
      <td>18.4</td>
      <td>18.8</td>
      <td>18.1</td>
      <td>18.4</td>
      <td>17.9</td>
    </tr>
    <tr>
      <th>25</th>
      <td></td>
      <td>12</td>
      <td>Tier 1 ratio as if IFRS 9 transitional arrange...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>26</th>
      <td></td>
      <td></td>
      <td>had not been applied</td>
      <td>18.4</td>
      <td>18.8</td>
      <td>18.1</td>
      <td>18.4</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>27</th>
      <td>7</td>
      <td>13</td>
      <td>Total capital ratio</td>
      <td>21.8</td>
      <td>22.1</td>
      <td>21.5</td>
      <td>21.6</td>
      <td>21.3</td>
    </tr>
    <tr>
      <th>28</th>
      <td></td>
      <td>14</td>
      <td>Total capital ratio as if IFRS 9 transitional</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>29</th>
      <td></td>
      <td></td>
      <td>arrangements had not been applied</td>
      <td>21.8</td>
      <td>22.1</td>
      <td>21.5</td>
      <td>21.6</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>30</th>
      <td></td>
      <td></td>
      <td>Additional CET1 buffer requirements as a perce...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>31</th>
      <td>8</td>
      <td></td>
      <td>Capital conservation buffer requirement</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>32</th>
      <td></td>
      <td></td>
      <td>(2.5% from 2019)</td>
      <td>2.5</td>
      <td>2.5</td>
      <td>2.5</td>
      <td>2.5</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>33</th>
      <td>9</td>
      <td></td>
      <td>Countercyclical capital buffer requirement (1)</td>
      <td>0.7</td>
      <td>0.4</td>
      <td>0.4</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <th>34</th>
      <td>10</td>
      <td></td>
      <td>Bank GSIB and/or DSIB additional requirements</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>11</td>
      <td></td>
      <td>Total of CET1 specific buffer requirements</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>36</th>
      <td></td>
      <td></td>
      <td>(8+9+10)</td>
      <td>4.2</td>
      <td>3.9</td>
      <td>3.9</td>
      <td>3.5</td>
      <td>3.5</td>
    </tr>
    <tr>
      <th>37</th>
      <td>12</td>
      <td></td>
      <td>CET1 available after meeting the bank's</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>38</th>
      <td></td>
      <td></td>
      <td>minimum capital requirements (2)</td>
      <td>11.7</td>
      <td>12.2</td>
      <td>11.6</td>
      <td>11.9</td>
      <td>11.4</td>
    </tr>
    <tr>
      <th>39</th>
      <td></td>
      <td></td>
      <td>Leverage ratio</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
    </tr>
    <tr>
      <th>40</th>
      <td>13</td>
      <td>15</td>
      <td>CRR leverage ratio exposure measure</td>
      <td>644,498</td>
      <td>676,198</td>
      <td>693,344</td>
      <td>693,181</td>
      <td>679,120</td>
    </tr>
    <tr>
      <th>41</th>
      <td></td>
      <td></td>
      <td>UK leverage ratio exposure measure</td>
      <td>559,514</td>
      <td>580,266</td>
      <td>597,694</td>
      <td>602,489</td>
      <td>587,095</td>
    </tr>
    <tr>
      <th>42</th>
      <td></td>
      <td></td>
      <td></td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
    </tr>
    <tr>
      <th>43</th>
      <td>14</td>
      <td>16</td>
      <td>CRR leverage ratio</td>
      <td>5.4</td>
      <td>5.4</td>
      <td>5.2</td>
      <td>5.4</td>
      <td>5.3</td>
    </tr>
    <tr>
      <th>44</th>
      <td></td>
      <td>17</td>
      <td>CRR leverage ratio as if IFRS 9 transitional</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>45</th>
      <td></td>
      <td></td>
      <td>arrangements had not been applied</td>
      <td>5.4</td>
      <td>5.4</td>
      <td>5.2</td>
      <td>5.4</td>
      <td>n/a</td>
    </tr>
    <tr>
      <th>46</th>
      <td></td>
      <td></td>
      <td>UK leverage ratio</td>
      <td>6.2</td>
      <td>6.3</td>
      <td>6.0</td>
      <td>6.2</td>
      <td>6.1</td>
    </tr>
    <tr>
      <th>47</th>
      <td></td>
      <td></td>
      <td>Liquidity coverage ratio</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>48</th>
      <td>15</td>
      <td></td>
      <td>Total high-quality liquid asset (HQLA)</td>
      <td>137,905</td>
      <td>135,653</td>
      <td>131,131</td>
      <td>127,084</td>
      <td>122,900</td>
    </tr>
    <tr>
      <th>49</th>
      <td>16</td>
      <td></td>
      <td>Total net cash outflows</td>
      <td>87,530</td>
      <td>87,595</td>
      <td>87,427</td>
      <td>87,640</td>
      <td>87,600</td>
    </tr>
    <tr>
      <th>50</th>
      <td>17</td>
      <td></td>
      <td>LCR ratio % (3)</td>
      <td>158</td>
      <td>155</td>
      <td>150</td>
      <td>145</td>
      <td>140</td>
    </tr>
    <tr>
      <th>51</th>
      <td></td>
      <td></td>
      <td>Net stable funding ratio (NSFR)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>52</th>
      <td>18</td>
      <td></td>
      <td>Total available stable funding</td>
      <td>375,909</td>
      <td>374,358</td>
      <td>374,710</td>
      <td>366,005</td>
      <td>370,350</td>
    </tr>
    <tr>
      <th>53</th>
      <td>19</td>
      <td></td>
      <td>Total required stable funding</td>
      <td>266,087</td>
      <td>268,932</td>
      <td>267,107</td>
      <td>266,706</td>
      <td>281,517</td>
    </tr>
    <tr>
      <th>54</th>
      <td>20</td>
      <td></td>
      <td>NSFR % (4)</td>
      <td>141</td>
      <td>139</td>
      <td>140</td>
      <td>137</td>
      <td>132</td>
    </tr>
    <tr>
      <th>55</th>
      <td>N\notes:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>56</th>
      <td>(1)</td>
      <td>See CAP 5a and 5b for more information regardi...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>57</th>
      <td></td>
      <td>(4)      This represents the CET1 ratio less t...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>58</th>
      <td>(2)</td>
      <td>The LCR uses the simple average of the precedi...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>59</th>
      <td></td>
      <td>LCR used for internal monitoring and therefore...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>60</th>
      <td>(3)</td>
      <td>In November 2016, the European Commission publ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>