<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Capital, liquidity and funding</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>CAP 1: CAP and LR: Capital and leverage ratios...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>Capital, RWAs and leverage on a PRA transition...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>RBS, end point metrics and measures are also i...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>various transfers as part of ring-fencing impl...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>deduction for significant investment in financ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>compared with 80% and 20% respectively at 31 D...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td></td>
      <td></td>
      <td></td>
      <td>2018</td>
      <td></td>
      <td></td>
      <td>2017</td>
    </tr>
    <tr>
      <th>8</th>
      <td></td>
      <td>RBS</td>
      <td>NWB Plc</td>
      <td>RBS plc</td>
      <td>UBI DAC</td>
      <td>NWM Plc</td>
      <td>RBS \nNWB Plc\nUBI DAC\nNWM Plc</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Capital adequacy ratios - transitional (1)</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%</td>
      <td>%\n%\n%\n%</td>
    </tr>
    <tr>
      <th>10</th>
      <td>CET1</td>
      <td>16.2</td>
      <td>17.4</td>
      <td>13.2</td>
      <td>27.5</td>
      <td>15.6</td>
      <td>15.9 \n23.5 \n30.5 \n14.7</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Tier 1</td>
      <td>19.2</td>
      <td>20.4</td>
      <td>16.0</td>
      <td>27.5</td>
      <td>18.0</td>
      <td>19.7 \n23.5 \n30.5 \n16.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Total</td>
      <td>23.4</td>
      <td>24.5</td>
      <td>20.2</td>
      <td>30.4</td>
      <td>21.5</td>
      <td>23.9 \n30.9 \n33.3 \n18.7</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Capital adequacy ratios - end point</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>14</th>
      <td>CET1</td>
      <td>16.2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>15.9</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Tier 1</td>
      <td>18.4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>17.9</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Total</td>
      <td>21.8</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>21.3</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Capital - transitional</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m</td>
      <td>£m\n£m \n£m \n£m</td>
    </tr>
    <tr>
      <th>18</th>
      <td>CET1</td>
      <td>30,639</td>
      <td>13,138</td>
      <td>4,569</td>
      <td>3,996</td>
      <td>6,369</td>
      <td>31,957 \n13,301 \n5,356 \n20,169</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Tier 1</td>
      <td>36,223</td>
      <td>15,389</td>
      <td>5,538</td>
      <td>3,996</td>
      <td>7,352</td>
      <td>39,554 \n13,301 \n5,356 \n21,966</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Total</td>
      <td>44,174</td>
      <td>18,490</td>
      <td>6,984</td>
      <td>4,414</td>
      <td>8,757</td>
      <td>47,931 \n17,536 \n5,851 \n25,600</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Capital - end point</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>22</th>
      <td>CET1</td>
      <td>30,639</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>31,957</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Tier 1</td>
      <td>34,690</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35,998</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Total</td>
      <td>41,173</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>42,763</td>
    </tr>
    <tr>
      <th>25</th>
      <td>RWAs</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>26</th>
      <td>Credit risk</td>
      <td>137,824</td>
      <td>63,548</td>
      <td>28,683</td>
      <td>13,387</td>
      <td>9,234</td>
      <td>144,676 \n48,575 \n16,079 \n94,259</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Counterparty credit risk</td>
      <td>13,639</td>
      <td>325</td>
      <td>—</td>
      <td>122</td>
      <td>13,285</td>
      <td>15,395 \n266 \n321 \n13,691</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Market risk</td>
      <td>14,837</td>
      <td>50</td>
      <td>23</td>
      <td>47</td>
      <td>14,106</td>
      <td>17,012 \n136 \n68 \n15,809</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Operational risk</td>
      <td>22,391</td>
      <td>11,660</td>
      <td>5,819</td>
      <td>958</td>
      <td>4,152</td>
      <td>23,840 \n7,724 \n1,101 \n13,052</td>
    </tr>
    <tr>
      <th>30</th>
      <td></td>
      <td>188,691</td>
      <td>75,583</td>
      <td>34,525</td>
      <td>14,514</td>
      <td>40,777</td>
      <td>200,923 \n56,701 \n17,569 \n136,811</td>
    </tr>
    <tr>
      <th>31</th>
      <td>CRR leverage - transitional</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>32</th>
      <td>Tier 1 capital</td>
      <td>36,223</td>
      <td>15,389</td>
      <td>5,538</td>
      <td>3,996</td>
      <td>7,352</td>
      <td>39,554 \n13,301 \n5,356 \n21,966</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Exposure</td>
      <td>644,498</td>
      <td>295,483</td>
      <td>98,264</td>
      <td>27,259</td>
      <td>148,502</td>
      <td>679,120 \n213,474 \n27,765 \n390,055</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Leverage ratio (%)</td>
      <td>5.6</td>
      <td>5.2</td>
      <td>5.6</td>
      <td>14.7</td>
      <td>5.0</td>
      <td>5.8 \n6.2 \n19.3 \n5.6</td>
    </tr>
    <tr>
      <th>35</th>
      <td>CRR leverage - end point</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>36</th>
      <td>Tier 1 capital</td>
      <td>34,690</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35,998</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Exposure</td>
      <td>644,498</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>679,120</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Leverage ratio (%)</td>
      <td>5.4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>5.3</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Average Tier 1 capital</td>
      <td>35,701</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>36,360</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Average exposure (2)</td>
      <td>665,198</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>692,507</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Average leverage ratio (%)</td>
      <td>5.4</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>5.3</td>
    </tr>
    <tr>
      <th>42</th>
      <td>UK leverage - end point</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>43</th>
      <td>Tier 1 capital</td>
      <td>34,690</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35,998</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Exposure</td>
      <td>559,514</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>587,095</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Leverage ratio (%)</td>
      <td>6.2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>6.1</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Average Tier 1 capital</td>
      <td>35,701</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>36,360</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Average exposure (2)</td>
      <td>573,825</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>602,984</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Average leverage ratio (%)</td>
      <td>6.2</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>6.0</td>
    </tr>
    <tr>
      <th>49</th>
      <td>UK GSIB leverage (3)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>50</th>
      <td>CET1 buffer</td>
      <td>1,469</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>1,027</td>
    </tr>
    <tr>
      <th>51</th>
      <td>N\notes:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>52</th>
      <td></td>
      <td>(1)   CRR end-point for RBS set by the PRA is ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>53</th>
      <td></td>
      <td>buffers, including Pillar 2A and PRA buffer. S...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>54</th>
      <td></td>
      <td>(2)  Based on the daily average of on-balance ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>55</th>
      <td>(3)</td>
      <td>The PRA minimum leverage ratio requirement is ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>56</th>
      <td>increasing to 0.35% from 1 January 2019.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>