<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td></td>
      <td>Accounting</td>
      <td>of insurance/</td>
      <td>of banking</td>
      <td>Regulatory</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td></td>
      <td>balance sheet</td>
      <td>other entities</td>
      <td>associates</td>
      <td>balance sheet</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>Ref †</td>
      <td>$m</td>
      <td>$m</td>
      <td>$m</td>
      <td>$m</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Assets</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>Cash and balances at central banks</td>
      <td></td>
      <td>162,843</td>
      <td>(39)</td>
      <td>191</td>
      <td>162,995</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Items in the course of collection from other b...</td>
      <td></td>
      <td>5,787</td>
      <td>—</td>
      <td>—</td>
      <td>5,787</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Hong Kong Government certificates of indebtedness</td>
      <td></td>
      <td>35,859</td>
      <td>—</td>
      <td>—</td>
      <td>35,859</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Trading assets</td>
      <td></td>
      <td>238,130</td>
      <td>(1,244)</td>
      <td>—</td>
      <td>236,886</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Financial assets designated and otherwise mand...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>value through profit or loss</td>
      <td></td>
      <td>41,111</td>
      <td>(28,166)</td>
      <td>502</td>
      <td>13,447</td>
    </tr>
    <tr>
      <th>10</th>
      <td>–  of which: debt securities eligible as tier ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>outside the regulatory scope of consolidation</td>
      <td>r</td>
      <td>424</td>
      <td>(424)</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Derivatives</td>
      <td></td>
      <td>207,825</td>
      <td>(70)</td>
      <td>102</td>
      <td>207,857</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Loans and advances to banks</td>
      <td></td>
      <td>72,167</td>
      <td>(1,264)</td>
      <td>1,462</td>
      <td>72,365</td>
    </tr>
    <tr>
      <th>14</th>
      <td>–  of which: lending to FSEs eligible as tier 2</td>
      <td>r</td>
      <td>52</td>
      <td>—</td>
      <td>—</td>
      <td>52</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Loans and advances to customers</td>
      <td></td>
      <td>981,696</td>
      <td>(1,530)</td>
      <td>12,692</td>
      <td>992,858</td>
    </tr>
    <tr>
      <th>16</th>
      <td>–  of which:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>17</th>
      <td>lending eligible as tier 2 to Group FSEs outsi...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>18</th>
      <td>consolidation</td>
      <td>r</td>
      <td>117</td>
      <td>(117)</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <th>19</th>
      <td>expected credit losses on IRB portfolios</td>
      <td>h</td>
      <td>(6,405)</td>
      <td>—</td>
      <td>—</td>
      <td>(6,405)</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Reverse repurchase agreements – non-trading</td>
      <td></td>
      <td>242,804</td>
      <td>(3)</td>
      <td>542</td>
      <td>243,343</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Financial investments</td>
      <td></td>
      <td>407,433</td>
      <td>(61,228)</td>
      <td>3,578</td>
      <td>349,783</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Capital invested in insurance and other entities</td>
      <td></td>
      <td>—</td>
      <td>2,306</td>
      <td>—</td>
      <td>2,306</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Prepayments, accrued income and other assets</td>
      <td></td>
      <td>110,571</td>
      <td>(5,968)</td>
      <td>247</td>
      <td>104,850</td>
    </tr>
    <tr>
      <th>24</th>
      <td>–  of which: retirement benefit assets</td>
      <td>j</td>
      <td>7,934</td>
      <td>—</td>
      <td>—</td>
      <td>7,934</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Current tax assets</td>
      <td></td>
      <td>684</td>
      <td>(23)</td>
      <td>26</td>
      <td>687</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Interests in associates and joint ventures</td>
      <td></td>
      <td>22,407</td>
      <td>(398)</td>
      <td>(4,144)</td>
      <td>17,865</td>
    </tr>
    <tr>
      <th>27</th>
      <td>–  of which: positive goodwill on acquisition</td>
      <td>e</td>
      <td>492</td>
      <td>(13)</td>
      <td>—</td>
      <td>479</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Goodwill and intangible assets</td>
      <td>e</td>
      <td>24,357</td>
      <td>(7,281)</td>
      <td>—</td>
      <td>17,076</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Deferred tax assets</td>
      <td>f</td>
      <td>4,450</td>
      <td>161</td>
      <td>1</td>
      <td>4,612</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Total assets at 31 Dec 2018</td>
      <td></td>
      <td>2,558,124</td>
      <td>(104,747)</td>
      <td>15,199</td>
      <td>2,468,576</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Liabilities and equity</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>32</th>
      <td>Hong Kong currency notes in circulation</td>
      <td></td>
      <td>35,859</td>
      <td>—</td>
      <td>—</td>
      <td>35,859</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Deposits by banks</td>
      <td></td>
      <td>56,331</td>
      <td>1</td>
      <td>229</td>
      <td>56,561</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Customer accounts</td>
      <td></td>
      <td>1,362,643</td>
      <td>2,586</td>
      <td>13,790</td>
      <td>1,379,019</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Repurchase agreements – non-trading</td>
      <td></td>
      <td>165,884</td>
      <td>—</td>
      <td>—</td>
      <td>165,884</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Items in course of transmission to other banks</td>
      <td></td>
      <td>5,641</td>
      <td>—</td>
      <td>—</td>
      <td>5,641</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Trading liabilities</td>
      <td></td>
      <td>84,431</td>
      <td>—</td>
      <td>—</td>
      <td>84,431</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Financial liabilities designated at fair value</td>
      <td></td>
      <td>148,505</td>
      <td>(4,347)</td>
      <td>36</td>
      <td>144,194</td>
    </tr>
    <tr>
      <th>39</th>
      <td>–  of which:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>40</th>
      <td>included in tier 1</td>
      <td>n</td>
      <td>411</td>
      <td>—</td>
      <td>—</td>
      <td>411</td>
    </tr>
    <tr>
      <th>41</th>
      <td>included in tier 2</td>
      <td>o, q, i</td>
      <td>12,499</td>
      <td>—</td>
      <td>—</td>
      <td>12,499</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Derivatives</td>
      <td></td>
      <td>205,835</td>
      <td>116</td>
      <td>81</td>
      <td>206,032</td>
    </tr>
    <tr>
      <th>43</th>
      <td>–  of which: debit valuation adjustment</td>
      <td>i</td>
      <td>152</td>
      <td>—</td>
      <td>—</td>
      <td>152</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Debt securities in issue</td>
      <td></td>
      <td>85,342</td>
      <td>(1,448)</td>
      <td>—</td>
      <td>83,894</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Accruals, deferred income and other liabilities</td>
      <td></td>
      <td>97,380</td>
      <td>(2,830)</td>
      <td>691</td>
      <td>95,241</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Current tax liabilities</td>
      <td></td>
      <td>718</td>
      <td>(22)</td>
      <td>4</td>
      <td>700</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Liabilities under insurance contracts</td>
      <td></td>
      <td>87,330</td>
      <td>(87,330)</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Provisions</td>
      <td></td>
      <td>2,920</td>
      <td>(9)</td>
      <td>44</td>
      <td>2,955</td>
    </tr>
    <tr>
      <th>49</th>
      <td>–  of which: credit-related contingent liabili...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>50</th>
      <td>commitments on IRB portfolios</td>
      <td>h</td>
      <td>395</td>
      <td>—</td>
      <td>—</td>
      <td>395</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Deferred tax liabilities</td>
      <td></td>
      <td>2,619</td>
      <td>(1,144)</td>
      <td>1</td>
      <td>1,476</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Subordinated liabilities</td>
      <td></td>
      <td>22,437</td>
      <td>2</td>
      <td>323</td>
      <td>22,762</td>
    </tr>
    <tr>
      <th>53</th>
      <td>–  of which:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>54</th>
      <td>included in tier 1</td>
      <td>l, n</td>
      <td>1,786</td>
      <td>—</td>
      <td>—</td>
      <td>1,786</td>
    </tr>
    <tr>
      <th>55</th>
      <td>included in tier 2</td>
      <td>o, q</td>
      <td>20,584</td>
      <td>—</td>
      <td>—</td>
      <td>20,584</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Total liabilities at 31 Dec 2018</td>
      <td></td>
      <td>2,363,875</td>
      <td>(94,425)</td>
      <td>15,199</td>
      <td>2,284,649</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Equity</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>58</th>
      <td>Called up share capital</td>
      <td>a</td>
      <td>10,180</td>
      <td>—</td>
      <td>—</td>
      <td>10,180</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Share premium account</td>
      <td>a, l</td>
      <td>13,609</td>
      <td>—</td>
      <td>—</td>
      <td>13,609</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Other equity instruments</td>
      <td>k, l</td>
      <td>22,367</td>
      <td>—</td>
      <td>—</td>
      <td>22,367</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Other reserves</td>
      <td>c, g</td>
      <td>1,906</td>
      <td>1,996</td>
      <td>—</td>
      <td>3,902</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Retained earnings</td>
      <td>b, c</td>
      <td>138,191</td>
      <td>(11,387)</td>
      <td>—</td>
      <td>126,804</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Total shareholders’ equity</td>
      <td></td>
      <td>186,253</td>
      <td>(9,391)</td>
      <td>—</td>
      <td>176,862</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Non-controlling interests</td>
      <td>d, m, n, p</td>
      <td>7,996</td>
      <td>(931)</td>
      <td>—</td>
      <td>7,065</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Total equity at 31 Dec 2018</td>
      <td></td>
      <td>194,249</td>
      <td>(10,322)</td>
      <td>—</td>
      <td>183,927</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Total liabilities and equity at 31 Dec 2018</td>
      <td></td>
      <td>2,558,124</td>
      <td>(104,747)</td>
      <td>15,199</td>
      <td>2,468,576</td>
    </tr>
    <tr>
      <th>67</th>
      <td>†</td>
      <td>The references (a)–(r) identify balance sheet ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>