<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td></td>
      <td>balance</td>
      <td>of insurance/</td>
      <td>of banking</td>
      <td>balance</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td></td>
      <td>sheet</td>
      <td>other entities</td>
      <td>associates</td>
      <td>sheet</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>Ref †</td>
      <td>$m</td>
      <td>$m</td>
      <td>$m</td>
      <td>$m</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Assets</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>Cash and balances at central banks</td>
      <td></td>
      <td>171,090</td>
      <td>(13)</td>
      <td>343</td>
      <td>171,420</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Items in the course of collection from other b...</td>
      <td></td>
      <td>8,673</td>
      <td>—</td>
      <td>—</td>
      <td>8,673</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Hong Kong Government certificates of indebtedness</td>
      <td></td>
      <td>36,492</td>
      <td>—</td>
      <td>—</td>
      <td>36,492</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Trading assets</td>
      <td></td>
      <td>271,424</td>
      <td>(1,098)</td>
      <td>—</td>
      <td>270,326</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Financial assets designated and otherwise mand...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>value through profit or loss</td>
      <td></td>
      <td>41,043</td>
      <td>(31,956)</td>
      <td>540</td>
      <td>9,627</td>
    </tr>
    <tr>
      <th>10</th>
      <td>–  of which: debt securities eligible as tier ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>Sector Entities (‘FSEs’) that are outside the ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>consolidation</td>
      <td>r</td>
      <td>—</td>
      <td>495</td>
      <td>—</td>
      <td>495</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Derivatives</td>
      <td></td>
      <td>233,621</td>
      <td>(41)</td>
      <td>49</td>
      <td>233,629</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Loans and advances to banks</td>
      <td></td>
      <td>82,397</td>
      <td>(1,259)</td>
      <td>1,068</td>
      <td>82,206</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Loans and advances to customers</td>
      <td></td>
      <td>1,021,632</td>
      <td>(1,875)</td>
      <td>12,692</td>
      <td>1,032,449</td>
    </tr>
    <tr>
      <th>16</th>
      <td>–  of which:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>17</th>
      <td>lending eligible as tier 2 to Group FSEs outsi...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>18</th>
      <td></td>
      <td>r</td>
      <td>—</td>
      <td>292</td>
      <td>—</td>
      <td>292</td>
    </tr>
    <tr>
      <th>19</th>
      <td>consolidation</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td>expected credit losses on IRB portfolios</td>
      <td>h</td>
      <td>(6,426)</td>
      <td>—</td>
      <td>—</td>
      <td>(6,426)</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Reverse repurchase agreements – non-trading</td>
      <td></td>
      <td>233,079</td>
      <td>—</td>
      <td>581</td>
      <td>233,660</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Financial investments</td>
      <td></td>
      <td>428,101</td>
      <td>(64,865)</td>
      <td>4,196</td>
      <td>367,432</td>
    </tr>
    <tr>
      <th>23</th>
      <td>–  of which lending eligible as tier 2 to Grou...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>24</th>
      <td>scope of consolidation</td>
      <td>r</td>
      <td>—</td>
      <td>366</td>
      <td>—</td>
      <td>366</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Capital invested in insurance and other entities</td>
      <td></td>
      <td>—</td>
      <td>2,302</td>
      <td>—</td>
      <td>2,302</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Prepayments, accrued income and other assets</td>
      <td></td>
      <td>168,880</td>
      <td>(5,217)</td>
      <td>577</td>
      <td>164,240</td>
    </tr>
    <tr>
      <th>27</th>
      <td>–  of which: retirement benefit assets</td>
      <td>j</td>
      <td>8,021</td>
      <td>—</td>
      <td>—</td>
      <td>8,021</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Current tax assets</td>
      <td></td>
      <td>804</td>
      <td>(45)</td>
      <td>22</td>
      <td>781</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Interests in associates and joint ventures</td>
      <td></td>
      <td>23,892</td>
      <td>(432)</td>
      <td>(5,064)</td>
      <td>18,396</td>
    </tr>
    <tr>
      <th>30</th>
      <td>–  of which: positive goodwill on acquisition</td>
      <td>e</td>
      <td>493</td>
      <td>(13)</td>
      <td>—</td>
      <td>480</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Goodwill and intangible assets</td>
      <td>e</td>
      <td>25,733</td>
      <td>(8,225)</td>
      <td>1,174</td>
      <td>18,682</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Deferred tax assets</td>
      <td>f</td>
      <td>4,412</td>
      <td>176</td>
      <td>4</td>
      <td>4,592</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Total assets at 30 Jun 2019</td>
      <td></td>
      <td>2,751,273</td>
      <td>(112,548)</td>
      <td>16,182</td>
      <td>2,654,907</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Liabilities and equity</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>35</th>
      <td>Hong Kong currency notes in circulation</td>
      <td></td>
      <td>36,492</td>
      <td>—</td>
      <td>—</td>
      <td>36,492</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Deposits by banks</td>
      <td></td>
      <td>71,051</td>
      <td>(3)</td>
      <td>292</td>
      <td>71,340</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Customer accounts</td>
      <td></td>
      <td>1,380,124</td>
      <td>2,688</td>
      <td>14,722</td>
      <td>1,397,534</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Repurchase agreements – non-trading</td>
      <td></td>
      <td>184,497</td>
      <td>—</td>
      <td>—</td>
      <td>184,497</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Items in the course of transmission to other b...</td>
      <td></td>
      <td>9,178</td>
      <td>—</td>
      <td>—</td>
      <td>9,178</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Trading liabilities</td>
      <td></td>
      <td>94,149</td>
      <td>—</td>
      <td>—</td>
      <td>94,149</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Financial liabilities designated at fair value</td>
      <td></td>
      <td>165,104</td>
      <td>(4,565)</td>
      <td>33</td>
      <td>160,572</td>
    </tr>
    <tr>
      <th>42</th>
      <td>–  of which:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>43</th>
      <td>included in tier 1</td>
      <td>n</td>
      <td>400</td>
      <td>—</td>
      <td>—</td>
      <td>400</td>
    </tr>
    <tr>
      <th>44</th>
      <td>included in tier 2</td>
      <td>o, q, i</td>
      <td>11,243</td>
      <td>—</td>
      <td>—</td>
      <td>11,243</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Derivatives</td>
      <td></td>
      <td>229,903</td>
      <td>68</td>
      <td>56</td>
      <td>230,027</td>
    </tr>
    <tr>
      <th>46</th>
      <td>–  of which: debit valuation adjustment</td>
      <td>i</td>
      <td>97</td>
      <td>—</td>
      <td>—</td>
      <td>97</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Debt securities in issue</td>
      <td></td>
      <td>103,663</td>
      <td>(1,921)</td>
      <td>—</td>
      <td>101,742</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Accruals, deferred income and other liabilities</td>
      <td></td>
      <td>152,052</td>
      <td>(2,512)</td>
      <td>911</td>
      <td>150,451</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Current tax liabilities</td>
      <td></td>
      <td>1,653</td>
      <td>(56)</td>
      <td>3</td>
      <td>1,600</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Liabilities under insurance contracts</td>
      <td></td>
      <td>93,794</td>
      <td>(93,794)</td>
      <td>—</td>
      <td>—</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Provisions</td>
      <td></td>
      <td>3,025</td>
      <td>(7)</td>
      <td>38</td>
      <td>3,056</td>
    </tr>
    <tr>
      <th>52</th>
      <td>–  of which: credit-related contingent liabili...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>53</th>
      <td>commitments on IRB portfolios</td>
      <td>h</td>
      <td>357</td>
      <td>—</td>
      <td>—</td>
      <td>357</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Deferred tax liabilities</td>
      <td></td>
      <td>2,820</td>
      <td>(1,238)</td>
      <td>9</td>
      <td>1,591</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Subordinated liabilities</td>
      <td></td>
      <td>22,894</td>
      <td>2</td>
      <td>118</td>
      <td>23,014</td>
    </tr>
    <tr>
      <th>56</th>
      <td>–  of which:</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>57</th>
      <td>included in tier 1</td>
      <td>l, n</td>
      <td>1,783</td>
      <td>—</td>
      <td>—</td>
      <td>1,783</td>
    </tr>
    <tr>
      <th>58</th>
      <td>included in tier 2</td>
      <td>o, q</td>
      <td>19,339</td>
      <td>—</td>
      <td>—</td>
      <td>19,339</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Total liabilities at 30 Jun 2019</td>
      <td></td>
      <td>2,550,399</td>
      <td>(101,338)</td>
      <td>16,182</td>
      <td>2,465,243</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Equity</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>61</th>
      <td>Called up share capital</td>
      <td>a</td>
      <td>10,281</td>
      <td>—</td>
      <td>—</td>
      <td>10,281</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Share premium account</td>
      <td>a, l</td>
      <td>13,998</td>
      <td>—</td>
      <td>—</td>
      <td>13,998</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Other equity instruments</td>
      <td>k</td>
      <td>22,367</td>
      <td>—</td>
      <td>—</td>
      <td>22,367</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Other reserves</td>
      <td>c, g</td>
      <td>3,437</td>
      <td>1,942</td>
      <td>—</td>
      <td>5,379</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Retained earnings</td>
      <td>b, c</td>
      <td>142,593</td>
      <td>(12,114)</td>
      <td>—</td>
      <td>130,479</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Total shareholders’ equity</td>
      <td></td>
      <td>192,676</td>
      <td>(10,172)</td>
      <td>—</td>
      <td>182,504</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Non-controlling interests</td>
      <td>d, m, n, p</td>
      <td>8,198</td>
      <td>(1,038)</td>
      <td>—</td>
      <td>7,160</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Total equity at 30 Jun 2019</td>
      <td></td>
      <td>200,874</td>
      <td>(11,210)</td>
      <td>—</td>
      <td>189,664</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Total liabilities and equity at 30 Jun 2019</td>
      <td></td>
      <td>2,751,273</td>
      <td>(112,548)</td>
      <td>16,182</td>
      <td>2,654,907</td>
    </tr>
    <tr>
      <th>70</th>
      <td>†</td>
      <td>The references (a)–(r) identify balance sheet ...</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>