<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td></td>
      <td></td>
      <td>At</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td></td>
      <td></td>
      <td>30 Jun</td>
      <td>31 Dec</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td></td>
      <td></td>
      <td>2019</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td></td>
      <td>Ref†</td>
      <td>$m</td>
      <td>$m</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>Common equity tier 1 (‘CET1’) capital: instrum...</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>Capital instruments and the related share prem...</td>
      <td></td>
      <td>22,874</td>
      <td>22,384</td>
    </tr>
    <tr>
      <th>6</th>
      <td></td>
      <td>–  ordinary shares</td>
      <td>a</td>
      <td>22,874</td>
      <td>22,384</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>Retained earnings</td>
      <td>b</td>
      <td>125,478</td>
      <td>121,180</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>Accumulated other comprehensive income (and ot...</td>
      <td>c</td>
      <td>3,632</td>
      <td>3,368</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>Minority interests (amount allowed in consolid...</td>
      <td>d</td>
      <td>5,045</td>
      <td>4,854</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5a</td>
      <td>Independently reviewed interim net profits net...</td>
      <td>b</td>
      <td>4,319</td>
      <td>3,697</td>
    </tr>
    <tr>
      <th>11</th>
      <td>6</td>
      <td>Common equity tier 1 capital before regulatory...</td>
      <td></td>
      <td>161,348</td>
      <td>155,483</td>
    </tr>
    <tr>
      <th>12</th>
      <td></td>
      <td>Common equity tier 1 capital: regulatory adjus...</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>7</td>
      <td>Additional value adjustments1</td>
      <td></td>
      <td>(1,236)</td>
      <td>(1,180)</td>
    </tr>
    <tr>
      <th>14</th>
      <td>8</td>
      <td>Intangible assets (net of related deferred tax...</td>
      <td>e</td>
      <td>(18,904)</td>
      <td>(17,323)</td>
    </tr>
    <tr>
      <th>15</th>
      <td>10</td>
      <td>Deferred tax assets that rely on future profit...</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>16</th>
      <td></td>
      <td>liability)</td>
      <td>f</td>
      <td>(1,113)</td>
      <td>(1,042)</td>
    </tr>
    <tr>
      <th>17</th>
      <td>11</td>
      <td>Fair value reserves related to gains or losses...</td>
      <td>g</td>
      <td>(97)</td>
      <td>135</td>
    </tr>
    <tr>
      <th>18</th>
      <td>12</td>
      <td>Negative amounts resulting from the calculatio...</td>
      <td>h</td>
      <td>(1,733)</td>
      <td>(1,750)</td>
    </tr>
    <tr>
      <th>19</th>
      <td>14</td>
      <td>Gains or losses on liabilities valued at fair ...</td>
      <td>i</td>
      <td>1,798</td>
      <td>298</td>
    </tr>
    <tr>
      <th>20</th>
      <td>15</td>
      <td>Defined-benefit pension fund assets</td>
      <td>j</td>
      <td>(6,160)</td>
      <td>(6,070)</td>
    </tr>
    <tr>
      <th>21</th>
      <td>16</td>
      <td>Direct and indirect holdings of own CET1 instr...</td>
      <td></td>
      <td>(40)</td>
      <td>(40)</td>
    </tr>
    <tr>
      <th>22</th>
      <td>19</td>
      <td>Direct, indirect and synthetic holdings by the...</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <td></td>
      <td>institution has a significant investment in th...</td>
      <td></td>
      <td>(6,914)</td>
      <td>(7,489)</td>
    </tr>
    <tr>
      <th>24</th>
      <td>28</td>
      <td>Total regulatory adjustments to common equity ...</td>
      <td></td>
      <td>(34,399)</td>
      <td>(34,461)</td>
    </tr>
    <tr>
      <th>25</th>
      <td>29</td>
      <td>Common equity tier 1 capital</td>
      <td></td>
      <td>126,949</td>
      <td>121,022</td>
    </tr>
    <tr>
      <th>26</th>
      <td></td>
      <td>Additional tier 1 (‘AT1’) capital: instruments</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>27</th>
      <td>30</td>
      <td>Capital instruments and the related share prem...</td>
      <td></td>
      <td>22,367</td>
      <td>22,367</td>
    </tr>
    <tr>
      <th>28</th>
      <td>31</td>
      <td>–  classified as equity under IFRSs</td>
      <td>k</td>
      <td>22,367</td>
      <td>22,367</td>
    </tr>
    <tr>
      <th>29</th>
      <td>33</td>
      <td>Amount of qualifying items and the related sha...</td>
      <td>l</td>
      <td>2,297</td>
      <td>2,297</td>
    </tr>
    <tr>
      <th>30</th>
      <td>34</td>
      <td>Qualifying tier 1 capital included in consolid...</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>31</th>
      <td></td>
      <td>subsidiaries and held by third parties</td>
      <td>m, n</td>
      <td>1,274</td>
      <td>1,516</td>
    </tr>
    <tr>
      <th>32</th>
      <td>35</td>
      <td>–  of which: instruments issued by subsidiarie...</td>
      <td>m</td>
      <td>1,218</td>
      <td>1,298</td>
    </tr>
    <tr>
      <th>33</th>
      <td>36</td>
      <td>Additional tier 1 capital before regulatory ad...</td>
      <td></td>
      <td>25,938</td>
      <td>26,180</td>
    </tr>
    <tr>
      <th>34</th>
      <td></td>
      <td>Additional tier 1 capital: regulatory adjustments</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>35</th>
      <td>37</td>
      <td>Direct and indirect holdings of own AT1 instru...</td>
      <td></td>
      <td>(60)</td>
      <td>(60)</td>
    </tr>
    <tr>
      <th>36</th>
      <td>43</td>
      <td>Total regulatory adjustments to additional tie...</td>
      <td></td>
      <td>(60)</td>
      <td>(60)</td>
    </tr>
    <tr>
      <th>37</th>
      <td>44</td>
      <td>Additional tier 1 capital</td>
      <td></td>
      <td>25,878</td>
      <td>26,120</td>
    </tr>
    <tr>
      <th>38</th>
      <td>45</td>
      <td>Tier 1 capital (T1 = CET1 + AT1)</td>
      <td></td>
      <td>152,827</td>
      <td>147,142</td>
    </tr>
    <tr>
      <th>39</th>
      <td></td>
      <td>Tier 2 capital: instruments and provisions</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>40</th>
      <td>46</td>
      <td>Capital instruments and the related share prem...</td>
      <td>o</td>
      <td>20,636</td>
      <td>20,249</td>
    </tr>
    <tr>
      <th>41</th>
      <td></td>
      <td>–  of which: instruments grandfathered under C...</td>
      <td></td>
      <td>7,018</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>42</th>
      <td>48</td>
      <td>Qualifying own funds instruments included in c...</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>43</th>
      <td></td>
      <td>not included in CET1 or AT1) issued by subsidi...</td>
      <td>p, q</td>
      <td>5,989</td>
      <td>6,480</td>
    </tr>
    <tr>
      <th>44</th>
      <td>49</td>
      <td>–  of row 48: instruments issued by subsidiari...</td>
      <td>q</td>
      <td>832</td>
      <td>1,585</td>
    </tr>
    <tr>
      <th>45</th>
      <td></td>
      <td>–  of row 48: instruments issued by subsidiari...</td>
      <td></td>
      <td>1,475</td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>46</th>
      <td>51</td>
      <td>Tier 2 capital before regulatory adjustments</td>
      <td></td>
      <td>26,625</td>
      <td>26,729</td>
    </tr>
    <tr>
      <th>47</th>
      <td></td>
      <td>Tier 2 capital: regulatory adjustments</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>48</th>
      <td>52</td>
      <td>Direct and indirect holdings of own T2 instrum...</td>
      <td></td>
      <td>(40)</td>
      <td>(40)</td>
    </tr>
    <tr>
      <th>49</th>
      <td>55</td>
      <td>Direct and indirect holdings by the institutio...</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>50</th>
      <td></td>
      <td>where the institution has a significant invest...</td>
      <td>r</td>
      <td>(1,153)</td>
      <td>(593)</td>
    </tr>
    <tr>
      <th>51</th>
      <td>57</td>
      <td>Total regulatory adjustments to tier 2 capital</td>
      <td></td>
      <td>(1,193)</td>
      <td>(633)</td>
    </tr>
    <tr>
      <th>52</th>
      <td>58</td>
      <td>Tier 2 capital</td>
      <td></td>
      <td>25,432</td>
      <td>26,096</td>
    </tr>
    <tr>
      <th>53</th>
      <td>59</td>
      <td>Total capital (TC = T1 + T2)</td>
      <td></td>
      <td>178,259</td>
      <td>173,238</td>
    </tr>
    <tr>
      <th>54</th>
      <td>60</td>
      <td>Total risk-weighted assets</td>
      <td></td>
      <td>885,971</td>
      <td>865,318</td>
    </tr>
  </tbody>
</table>