<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Capital and RWAs</td>
    </tr>
    <tr>
      <th>1</th>
      <td>The Capital and Other TLAC-eligible instrument...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>fixed-income-investors/regulatory-capital-secu...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>For further detail on our management of capita...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Own funds</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Table 4: Own funds disclosure</td>
    </tr>
    <tr>
      <th>6</th>
      <td>At</td>
    </tr>
  </tbody>
</table>